{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSameLine": true,
    "plugins": [
        "prettier-plugin-go-template",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}
