{{ define "main" }}
    <section class="container mx-auto w-full p-10 pt-[75px] lg:pt-[90px]">
        <div class="blok w-full items-center justify-center rounded-md bg-gray-100 p-4 text-center lg:p-8">
            <div class="max-w-auto flex items-center justify-center">
                {{ with .Resources.Get .Params.image }}
                    <img
                        src="{{ .RelPermalink }}"
                        class="max-w-auto mb-5 max-h-[400px] rounded-xl object-cover lg:max-w-[600px]" />
                {{ end }}
            </div>

            <h1 class="mb-5 text-xl font-bold lg:text-3xl">{{ .Title }}</h1>

            <div class="lg:text-md mb-5 text-sm leading-relaxed text-gray-700">
                {{ .Content }}
            </div>

            <div class="lg:text-md text-sm text-gray-500">
                Tanggal:
                {{ time.AsTime .Params.date | dateFormat "Monday, 02 January 2006" }}
            </div>
        </div>
    </section>
{{ end }}
